{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Kisaan Portal</h1>
              <span class="subheading">A web Trusted by the Farmers</span>
            </div>
          </div>
        </div>
     </div>
    </header>

    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Buyer Seller Platform is to connect farmers with the buyers (FPOs, Exporters, Traders, and Processors). Buyer registers on this platform and chooses the area from where he wants to buy the product. He can offer the price at which he wants to buy the product.<p/> 
        <p>Farmers of that selected location get the SMS on their mobile set. SMS contains name and mobile number of all buyers and the price which they are offering to buy a commodity.</p>
      <p>Thus a farmer gets the negotiating power and he can sell the product at better price.</p>



      </div>
    </div>
  </div>
{% endblock %}